*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

body{
  background-color: #e0e8f9
}

header{
  border-bottom: 1px solid grey;
  background-image: url(background.png);
  background-size: cover;
}

header img{
  width: 50px;
  margin: 10px;
  vertical-align: bottom;
}

header h1{
  display: inline;
  color: white;
}

#avatar{
  border-radius: 50%;
  float:right;
  width: 40px;
  border: 1px solid black
}

input{
  margin-top: 20px;
  margin-left: 10px;
  width: 22%;
}

section ul{
  margin-left: 10px;
  margin-top: 30px;
}

#nuova{
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
  color: white;
  background-color: #d93025;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
}

#caselle{
  display: inline-block;
  float: left;
}

#caselle li{
  margin-bottom: 10px;
  list-style-type: none;
}

#arrivo{
  color: white;
  display: inline-block;
  border: 2px solid #595d62;
  border-width: 20%;
  border-radius: 10px;
  background-color: #595d62;
}

#posta{
  margin-left: 150px;
  display: inline-block;
  float: left;
  font-weight: bold;
}

.email{
  border: 1px solid grey;
  border-radius: 3px;
  padding-right: 300px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
}
